.bookpanel {
  font-family: Montserrat;
  margin: 3% 0;
  width: 100%;
  text-align: center;
}
.googlemapimg {
  margin: 2rem;
}
.bookingform {
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.bookingleft {
  text-align: right;
}
.bookingleft input {
  width: 12rem;
  height: 1.5rem;
  padding: 4px;
  margin-bottom: 10px;
}
.bookBtn {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 1rem;
  text-transform: capitalize;
  background: #c4c4c4;
  border: none;
  padding: 7px 15px;
}
