.driverPanel {
  font-family: Montserrat;
  background: #ececec;
  padding: 5rem;
  padding: 5%;
}
.driverData {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  /* background: pink; */
}
.driverdesc {
  margin-bottom: 3rem;
}
.dtitle {
  font-weight: bold;
}
.driverLogo {
  text-align: center;
}
.driverImg img {
  width: 20rem;
}

/* ******* RESPONSIVE - MOBILE ******* */
@media screen and (max-width: 500px) {
  .driverImg img {
    display: none;
  }
}
